---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Home from "@/components/Home.astro";
import About from "@/components/About.astro";
import ExperiencesContainer from "@/components/ExperiencesContainer.astro";
import FormationContainer from "@/components/FormationContainer.astro";
import Skills from "@/components/Skills.astro";
import Projects from "@/components/vue-components/Projects.vue";
import CodeIcon from "@/components/Icons/CodeIcon.vue";
import TitleFormat from "@/components/TitleFormat.astro";
import CertificatesList from "@/components/CertificatesList.astro";
---

<Layout title="Portfolio de Sandro || Desarrollador y Programador Web">
  <main>
    <SectionContainer
      id="home"
      class="flex items-center justify-center pt-52 pb-40"
    >
      <Home />
    </SectionContainer>

    <SectionContainer
      data-aos="zoom-in"
      id="about-me"
      class="mx-auto flex flex-col justify-center items-center mt-20"
    >
      <About />
    </SectionContainer>

    <SectionContainer class="mx-auto mt-48" id="experiences"
      ><div class="flex flex-col justify-center sm:flex-row">
        <ExperiencesContainer />
        <FormationContainer />
      </div>
      <div class="text-center">
        <button
          class="rounded-full text-md mx-1 px-6 py-1 border-2 border-[#6ec26e] dark:border-yellow-200/90
           tracking-widest transition-all duration-200 ease-out hover:bg-green-400/90 dark:hover:bg-yellow-200/60 text-[#333333]
            dark:text-white cursor-pointer"
          id="certificates-button"
          data-translate-key="certificatesButton"
        >
          Mostrar certificados</button
        >
      </div>
    </SectionContainer>

    <SectionContainer
      class="certificates-section mx-auto -translate-x-[50rem] opacity-0 justify-center items-center max-w-[70rem] duration-200 transition-transform mb-20"
    >
      <div class="p-5">
        <CertificatesList />
      </div>
    </SectionContainer>

    <SectionContainer
      class="flex flex-col sm:flex-row justify-center mx-auto items-center max-w-[80rem] -mt-[55rem] sm:-mt-[18rem] transition-all"
      id="skills"
    >
      <Skills />
    </SectionContainer>

    <SectionContainer
      class="mx-auto mt-20 max-w-[100rem]"
      id="projects"
      data-aos="flip-left"
    >
      <TitleFormat>
        <h3 class="flex justify-center items-center" slot="section-title">
          <CodeIcon customProperties="size-12" />
          <span data-translate-key="projectsSection" class="ml-2">
            Proyectos
          </span>
        </h3>
      </TitleFormat>
      <Projects client:only />
    </SectionContainer>
  </main>

  <style>
    .show {
      opacity: 1;
      transform: translate(0);
    }

    .movedown {
      margin-top: 0;
    }
  </style>

  <script>
    const showCertificatesButton: HTMLButtonElement = document.querySelector(
      "#certificates-button"
    )!;
    const certificatesSection: HTMLElement = document.querySelector(
      ".certificates-section"
    )!;

    const skillsSection: HTMLElement = document.querySelector("#skills")!;

    showCertificatesButton.addEventListener("click", () => {
      certificatesSection.classList.toggle("show");
      skillsSection.classList.toggle("movedown");
    });

  </script>
</Layout>
