---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Home from "@/components/Home.astro";
import About from "@/components/About.astro";
---

<Layout title="Portfolio de Sandro || Desarrollador y Programador Web">
  <main class="flex flex-col">
    <SectionContainer class="h-[100vh] flex items-center justify-center -mt-20">
      <Home />
    </SectionContainer>
    <SectionContainer class="max-w-[1650px] mx-auto">
      <About />
    </SectionContainer>
    <!-- <SectionContainer
      class="w-full mx-auto lg:w-[800px] mt-20 p-5"
      id="experiences"
    >
      <h2 class="text-2xl font-semibold pb-4 flex items-center gap-x-3">
        <BriefCaseIcon class="size-8" /> Experiencia laboral
      </h2>
      <Experiencie />
    </SectionContainer> -->
  </main>
</Layout>
