---
import AboutIcon from "@/components/Icons/AboutIcon.astro";
import TitleFormat from "@/components/TitleFormat.astro";
---

<div>
  <TitleFormat>
    <h3
      slot="section-title"
      class="flex items-center justify-center"
    >
      <AboutIcon />
      <span class="ml-2" data-translate-key="aboutTitle">Sobre mí</span>
    </h3>
  </TitleFormat>
</div>
<div class="flex flex-col justify-center items-center xl:flex-row">
  <div
    class="text-md text-gray-600/90 dark:text-white text-justify mt-2 max-w-2xl px-10 xl:max-w-xl tracking-widest"
    data-translate-key="aboutDescr"
  >
    <p>
      <span class="text-[#599b59] dark:text-yellow-200/90 text-lg">Ciencia</span
      > y <span class="text-[#599b59] dark:text-yellow-200/90 text-lg"
        >Tecnología</span
      >
      son dos palabras que me definen a la perfección. Por un lado, soy un gran apasionado
      de las ciencias naturales, al que le encanta explorar la naturaleza, identificando
      animales y plantas en cada salida al campo, y, por otro lado, me fascina la
      tecnología y el desarrollo de software.
    </p>
    <p class="mt-2">
      Antes de descubrir el mundo del desarrollo, siempre soñé con dedicarme a
      la <span class="text-[#599b59] dark:text-yellow-200/90 text-lg"
        >divulgación</span
      > e <span class="text-[#599b59] dark:text-yellow-200/90 text-lg"
        >investigación</span
      > de la fauna, ya que era lo que más me llenaba. Sin embargo, al adentrarme
      en el sector tecnológico, supe que quería enfocar mi carrera en este ámbito.
      La frase "Si puedes soñarlo, lo puedes programar" me impactó profundamente
      y fue lo que despertó en mí un amor inmediato por la programación.
    </p>
  </div>

  <div
    class="flex mx-5 flex-col sm:flex-row xl:justify-center mt-10 xl:mt-0 overflow-hidden"
  >
    <img
      src="images/env_education.jpg"
      loading="lazy"
      alt="Foto Educación Ambiental"
      class="mx-3 mb-3 md:mb-0 rounded shadow-lg max-h-80 cursor-pointer md:hover:scale-150 md:hover:rotate-6 transition-all ease-out z-10"
    />
    <img
      src="images/forest.JPG"
      loading="lazy"
      alt="Foto en el bosque"
      class="mx-3 rounded shadow-lg max-h-80 cursor-pointer md:hover:scale-150 md:hover:-rotate-6 transition-all ease-out z-10"
    />
  </div>
</div>
