---
import BurguerIcon from "@/components/Icons/BurguerIcon.astro";
import NavHeader from "./NavHeader.astro";
import CloseIcon from "./Icons/CloseIcon.astro";
---

<button class="button-burguer cursor-pointer">
  <BurguerIcon />
</button>
<div
  class="nav-burguer z-50 fixed hidden text-center right-0 left-0 top-0 dark:bg-gray-900/90 bg-purple-200/90 pt-20 pb-10"
>
  <NavHeader
    class="navbar-header flex flex-col my-0 mx-auto text-black dark:text-white"
  >
    <div
      slot="close-container"
      class="button-cross hidden cursor-pointer z-20 absolute top-5 right-5"
    >
      <CloseIcon />
    </div>
  </NavHeader>
</div>

<script>
  const buttonBurguer = document.querySelector(".button-burguer");
  const buttonClose = document.querySelector(".button-cross");
  const navBurguer = document.querySelector(".nav-burguer") as HTMLElement;

  buttonBurguer?.addEventListener("click", () => {
    navBurguer.style.display = "flex";
    buttonBurguer?.classList.toggle("hidden");
    buttonClose?.classList.toggle("hidden");
  });

  buttonClose?.addEventListener("click", () => {
    buttonClose?.classList.toggle("hidden");
    buttonBurguer?.classList.toggle("hidden");
    navBurguer.style.display = "none";
  });
</script>
