---
import CertificationIcon from "@/components/Icons/CertificationIcon.astro";
import CertificatesList from "@/components/CertificatesList.astro";
---

<div class="p-5">
  <h3
    class="text-4xl text-[#333333] dark:text-white py-10 flex items-center justify-center"
  >
    <CertificationIcon />
    <span class="ml-2" data-translate-key="titleCertificates">Certificados</span
    >
  </h3>
  <CertificatesList />
</div>
