---
import BriefcaseIcon from "@/components/Icons/BriefcaseIcon.vue"
import Experiences from "@/components/vue-components/Experiences.vue";
---

<div class="p-5">
  <h3
    class="text-4xl text-[#333333] dark:text-white py-10 flex items-center justify-center"
  >
    <BriefcaseIcon class="hidden stroke-white dark:block size-11" />
    <BriefcaseIcon class="block stroke-black dark:hidden size-11" />
    <span class="ml-2" data-translate-key="titleWorkExperiences"
      >Experiencia laboral</span
    >
  </h3>
  <Experiences client:only />
</div>
