---
import ExperiencieItem from "./ExperiencieItem.astro";

const EXPERIENCIES = [
  {
    date: "Abril 2024",
    title: "Desarrollador Full-stack || Enreach Labs",
    description:
      "Mi principal responsabilidad en Enreach Labs fue la creación de una biblioteca virtual para la empresa junto a un equipo de trabajo. Este proyecto me permitió profundizar en diferentes tecnologías, arquitecturas y patrones de diseño",
    link: "",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCIES.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperiencieItem {...experiencie} />
      </li>
    ))
  }
</ol>
