---
import BriefcaseIcon from "@/components/Icons/BriefcaseIcon.vue";
import Experiences from "@/components/vue-components/Experiences.vue";
import TitleFormat from "./TitleFormat.astro";
---

<div class="p-5">
  <TitleFormat >
    <h3 slot="section-title" class="text-4xl text-[#333333] dark:text-white flex items-center">
      <BriefcaseIcon class="stroke-black dark:stroke-white size-11" />
      <span class="ml-2" data-translate-key="titleWorkExperiences"
        >Experiencia laboral</span
      >
    </h3>
  </TitleFormat>
  <Experiences client:only />
</div>
