---
import Burguer from "@/components/Burguer.astro";
import NavHeader from "@/components/NavHeader.astro";
import Theme from "@/components/vue-components/Theme.vue";
---

<header class="relative">
  <div
    class="flex justify-between items-center py-2 px-2 max-w-[1450px] mx-auto"
  >
    <div class="flex justify-center items-center">
      <img
        class="rounded-full size-16"
        src="images/foto_perfil.jpeg"
        alt="Foto Sandro"
      />
      <div class="flex justify-center px-5">
        <Theme client:only />
      </div>
    </div>
    <div class="hidden md:flex flex-row gap-x-2 md:gap-x-5">
      <NavHeader class="navbar-header flex text-[#333333] dark:text-white" />
    </div>

    <div class="flex md:hidden">
      <Burguer />
    </div>
  </div>
</header>
