---
import Languages from "./vue-components/Languages.vue";
---

<nav {...Astro.props}>
  <a
    class="anchor-element hover:text-green-700 dark:hover:text-yellow-200/90 border-solid border-b-[1px] border-b-green-600 dark:border-b-yellow-300"
    href="#home"
    data-translate-key="home">Inicio</a
  >
  <a
    class="anchor-element hover:text-green-700 dark:hover:text-yellow-200/90"
    href="#about-me"
    data-translate-key="about">Sobre mí</a
  >
  <a
    class="anchor-element hover:text-green-700 dark:hover:text-yellow-200/90"
    href="#experiences"
    data-translate-key="experiences">Experiencias</a
  >
  <a
    class="anchor-element hover:text-green-700 dark:hover:text-yellow-200/90"
    href=""
    data-translate-key="projects">Proyectos</a
  >
  <a
    class="anchor-element hover:text-green-700 dark:hover:text-yellow-200/90"
    href=""
    data-translate-key="contact">Contacto</a
  >
  <Languages client:only />
</nav>
<slot name="close-container" />

<style>
  .anchor-element {
    margin: 0.3rem;
    padding: 0.3rem;
    letter-spacing: 0.1rem;
  }

  .anchor-element:hover {
    border-bottom: solid 1px;
  }
</style>

<script>
  document.querySelectorAll(".anchor-element").forEach((anchor) => {
    anchor.addEventListener("click", () => {
      document
        .querySelectorAll(".anchor-element")
        .forEach((el) =>
          el.classList.remove(
            "border-solid",
            "border-b-[1px]",
            "text-green-700",
            "dark:text-yellow-200/90",
            "border-b-green-600",
            "dark:border-b-yellow-300"
          )
        );
      anchor.classList.add(
        "border-solid",
        "border-b-[1px]",
        "text-green-700",
        "dark:text-yellow-200/90",
        "border-b-green-600",
        "dark:border-b-yellow-300"
      );
    });
  });
</script>
