<nav {...Astro.props}>
  <a
    class="hover:text-green-700 dark:hover:text-yellow-200/90 hover:border-b-green-600 dark:hover:border-b-yellow-300"
    href="/">Inicio</a
  >
  <a class="hover:text-green-700 dark:hover:text-yellow-200/90" href="/"
    >Sobre mí</a
  >
  <a
    class="hover:text-green-700 dark:hover:text-yellow-200/90"
    href="#experiences">Experiencias</a
  >
  <a class="hover:text-green-700 dark:hover:text-yellow-200/90" href="/"
    >Proyectos</a
  >
  <a class="hover:text-green-700 dark:hover:text-yellow-200/90" href="/"
    >Contacto</a
  >
  <div class="flags flex justify-center items-center">
    <div class="flag-item p-1 cursor-pointer">
      <img src="images/icon-en.png" alt="Idioma Inglés" width="35" />
    </div>
    <div class="flag-item p-1 cursor-pointer">
      <img src="images/icon-spain.png" alt="Idioma Español" width="35" />
    </div>
  </div>
</nav>
<slot name="close-container" />
<style>
  .navbar-header a {
    margin: 0.3rem;
    padding: 0.3rem;
    letter-spacing: 0.1rem;
    transition: all 0.2s ease;
  }

  .navbar-header a:hover {
    border-bottom: solid 1px;
  }
</style>
