<div {...Astro.props}>
  <nav>
    <a class="p-2" href="/">Inicio</a>
    <a class="p-2" href="/">Sobre mí</a>
    <a class="p-2" href="#experiences">Experiencias</a>
    <a class="p-2" href="/">Proyectos</a>
    <a class="p-2" href="/">Contacto</a>
  </nav>
  <slot name="close-container" />
</div>
<style>
  .nav-burguer nav {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .nav-burguer nav a {
    transition: all 0.2s ease;
  }
  .nav-burguer nav a:hover {
    color: rgb(254 240 138 / 0.9);
  }
</style>
