---
const { name, alt, src } = Astro.props;
---

<div
  class="relative cursor-pointer py-1 pb-10 px-2 m-1 border-[2px] border-solid border-[#222222] flex flex-col justify-center items-center bg-[#1a19199b]"
>
  <img src={src} class="h-20" alt={alt} loading="lazy" />
  <div
    class="fill-animation mt-2 text-white bg-light-gradient dark:bg-dark-gradient text-center absolute bottom-2 w-32 rotate-2"
  >
    {name}
  </div>
</div>
<style>
  .fill-animation {
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.2s ease-in-out;
    cursor: pointer;
  }
  .fill-animation:hover {
    background-position: 200% 0;
  }
</style>
