---
import MoonIcon from "./Icons/MoonIcon.astro";
import SunIcon from "./Icons/SunIcon.astro";
---

<button class="themeToggle size-9 rounded-lg transition hover:scale-105">
  <MoonIcon />
  <SunIcon />
</button>
<script is:inline>
  document.querySelector(".themeToggle")?.addEventListener("click", () => {
    document.documentElement.classList.toggle("dark");
  });
</script>
